.discover {
    margin: 0 auto;
    margin-top: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover__heading {
    font-size: 3rem;
    color: #40E0D0;
    margin-bottom: 5rem;

}

.discover__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover__filter {
    margin: 1rem;
    padding: 1rem;
    width: 12rem;
    border-radius: 20px;
    text-align: center;
    background-color: #40E0D0;
    border: none;
}

.discover__btn {
    margin-left: 1rem;
    background-color: transparent;
    fill: #40E0D0;
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
}

.discover__hr {
    margin: 2rem 0;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}



.discover__resultsContainer_list {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discover__resultsContainer_btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.discover__resultsContainer_changePage {
    width: 15rem;
    height: 4rem;
    background-color: #40E0D0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    
}

@media screen and (max-width: 1400px){
    
}

