.PagBack {
    height: 3rem;
    width: 3rem;
    fill: #40E0D0;
    cursor: pointer;
}

.PagBack__Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}