.container {
    display: grid;
    
    grid-template-columns: repeat(16, 1fr);
    
    grid-template-rows: [header-start] min-content 
                        [header-end gutter-1] 15rem 
                        [TypeSelector-start] 3.5rem 
                        [TypeSelector-end gutter-2] 10rem 
                        [trendingCarousel-start] min-content 
                        [trendingCarousel-end gutter-3] 10rem 
                        [theatres-start] min-content 
                        [theatres-end gutter-4] 10rem
                        [highestRated-start] min-content
                        [highestRated-end gutter-5] 10rem
                        [upcomming-start] min-content
                        [upcomming-end gutter-6] 10rem
                        [popular-start] min-content
                        [popular-end gutter-7] 14rem
                        [footer-start] min-content
                        [footer-end] min-content
                         ;

    grid-column-gap: 1rem;
}

@media 
