.TypeSelector {
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #ccc;
    border: .1rem solid #ccc;
    box-shadow: 0 1px 4px #40E0D0;
    cursor: pointer;
}




