.CarouselItem {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    transition: all .1s;
    cursor: pointer;
}


.CarouselItem__Container {
    border: 2px solid black;
    height: 20rem;
    width: 12.8%;
    transition: all .1s;
    cursor: pointer;
    display: flex;
}

.CarouselItem:hover {
    transform: scale(1.05);
    border: 2px solid #40E0D0;
}

@media screen and (max-width: 900px){
    .CarouselItem__Container {
        height: 20rem;
        width: 20%;
    }
}

@media screen and (max-width: 520px){
    .CarouselItem__Container {
        height: 21rem;
        width: 33%;
    }
}

@media screen and (max-width: 500px){
    .CarouselItem__Container {
        height: 19rem;
        width: 33%;
    }
}

