.TrendingCarousel {
    grid-area: trendingCarousel-start / 2 / trendingCarousel-end / 16;
    display: flex;
}

.TrendingCarousel__pag_back {
    width: 100%;
    height: 100%;
    grid-area: trendingCarousel-start / 1 / trendingCarousel-end / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.TrendingCarousel__pag_back_icon {
    height: 3rem;
    width: 3rem;
    fill: #4387fd;
}

.TrendingCarousel__pag_forward {
    grid-area: trendingCarousel-start / 16 / trendingCarousel-end / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.TrendingCarousel__pag_forward_icon {
    height: 3rem;
    width: 3rem;
    fill: #4387fd;
}


