.footer {
    grid-area: footer-start / 1 / footer-end / -1;

    background: #070514;  
    border-image: linear-gradient(to right, #fff 0%,#40E0D0 25%, #40E0D0 71%, #fff 100%);
	border-image-slice: 1;
    border-top: .5rem solid ;

    

    display: grid;
    grid-template-rows: [header-start] 3rem
                        [h1-start] 5rem
                        [gutter-1] 10rem
                        [body-start] 7rem
                        [body-end] 3rem
                        [copy-start] 1rem;
                       

    grid-template-columns: repeat(10, 1fr);


}



.footer__h1{
    font-size: 3rem;
    color: #40E0D0;
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 1px solid #fff;
}

.footer__h2 {
    font-size: 2.5rem;
    color: #40E0D0;
    grid-area: 2 / 4 / 3 / 8;
    text-align: center;
}


.footer__nav {
    grid-area: 3 / 2 / 5 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.footer__link {
    display: flex;
    align-items: center;
    color:#ccc;
    font-size: 1.6rem;
    text-decoration: none;
}

.footer__link:hover {
    color: #4387fd;
}


.footer__link_icon {
    height: 2rem;
    width: 2rem;
    fill: #40E0D0;
    margin-right: 1.5rem;
}

.footer__movieCredit {
    grid-area: 3 / 8 / 4 / 10;
    height: 7.82rem;
    width: 25rem;
}
.footer__movieCredit_logo {
    height: 5.4rem;
    width: 16rem;
}

.footer__movieCredit_text {
    color: white;
    font-size: 1.6rem;
}

.footer__copyright {
    color: white;
    font-size: 1.6rem;
    grid-area: 5 / 4 / 6/ 8;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 800px){
    
    .footer__h2 {
        display: none;
    }

    .footer__movieCredit {
        grid-area: 2 / 7 / 4 / 10;
    }

    .footer__movieCredit_text {
        margin-top: 3rem;
    }

}

@media screen and (max-width: 600px){
    
    

    .footer__movieCredit {
        grid-area: 2 / 6 / 4 / 10;
    }

    .footer__movieCredit_text {
        margin-top: 3rem;
    }

    .footer__copyright {
        display: none;
    }

}

@media screen and (max-width: 500px){
    .footer__movieCredit {
        grid-area: 2 / 5 / 4 / 9;
    }
}

@media screen and (max-width: 450px){
    .footer__movieCredit {
        width: 20rem;
    }
}