.searchResults {
    margin-top: 10rem;
    width: 100%;
    
}

.searchResults__heading {
    width: 80%;
    margin: 3rem auto;
    font-size: 3rem;
    color: #4387fd;
}

.searchResults_resultsContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.searchResults__noResults {
    color: #ccc;
    font-size: 2rem;
}