*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;   
}



body {    
    background: rgb(44, 44, 44);
}

@media screen and (max-width: 1200px){
    html {
        font-size: 56.5%;
    }
}

@media screen and (max-width: 900px){
    html {
        font-size: 52.5%;
    }
}
