*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #040523, #181947, #0f0c29); 
    background: linear-gradient(to right, #040523, #181947, #0f0c29); 
}