.SearchBar {
    padding: 2rem;
    border-radius: 5rem;
    color: black;
    width: 100%;
    height: 100%;
    transition: all .1s;
    text-align: center;
    font-size: 1.6rem;
    
}


.SearchBar:focus {
    border: .2rem solid #40E0D0;
    transform: scale(1.1);
    outline: none;
}

.SearchBar__searchBox {
    
    height: 4rem;
    grid-column: 7 / 11;
}

@media screen and (max-width: 800px){
    
    .SearchBar__searchBox {
        grid-column: 4 / 13
    }

}

@media screen and (max-width: 600px){
    
    .SearchBar__searchBox {
        grid-column: 2 / 12
    }

}





